# This is Git's per-user configuration file.
[user]
	name = KaranbirSingh7
	email = karanbirsingh1161@gmail.com
# Please adapt and uncomment the following lines:
#	name = Karanbir Singh
#	email = karanbirsingh@Karanbirs-MacBook-Pro.local
